body{
    background-color: #C0C0C0;
    font-family: Helvetica,sans-serif;
}
div.box{
    max-width: 90%;
    margin: 0px auto;
}
h2, p.box_head{
    text-align: center;
}
a{
    text-decoration: none;
    position: relative;
}
p{
    width: 80%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between
}
li{
    float: left;
    background-color: #fff;
    /* margin: 0px 52px; 
    display: flex;
    justify-content: space-between; */
}

div.box_list{
    height: 220px;
    width: 360px;
    font-size: 25px;
    margin: 0px auto;
    color: #fff;
    background-color: rgb(127, 127, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_head p{
    width: 360px;
}