body{
     display: flex;
    justify-content: center;
}
div{
    float: left;
    margin: 30px 5px;
}
div.box{
    width: 35%;;
    height: 300px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.para{
    width: 65%;
    height: 300px;
}
a{
    display: block;
    width: 100px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(54, 54, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
a:hover{
    color: red;
    background-color: orange;
}
