body{
    margin: 0px auto;
}
table{
    width: 50%;
    margin: 0px auto;
}
thead tr{
    background-color: pink;
}
tbody tr:nth-child(2n){
    background-color: aqua;
}
tbody tr:nth-child(2n+1){
    background-color: yellow;
}
tbody tr:last-child{
    background-color: red;
}
video{ 
    width: 745px;
    height: 555px;
    margin: 0px auto;
}

div{
    width: 200px;
    height: 200px;
}
@keyframes change-color{
    0% {background-color: green;}
    10% {background-color: gray;}
    20% {background-color: red;}
    30% {background-color: blue;}
    40% {background-color: violet;}
    50% {background-color: aqua;}
    60% {background-color: brown;}
    70% {background-color: yellow;}
    80% {background-color: orange;}
    90% {background-color: ghostwhite;}
    100% {background-color: hotpink;}
}
.change-color-box{
    position: relative;
    animation: change-color 2s infinite;
}
@keyframes move-from-left{
    from {left: 0px;}
    to {left: 50%;}
}
.move-box{
    position: relative;
    background-color: orange;
    animation-name: move-from-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    animation-timing-function: ease;
}
@keyframes slide{
    0% {transform: translateX(0);}
    80% {transform: translateX(300px);}
    90% {transform: translateX(1000px);}
    100% {transform: translateX(1500px);}
}
.slide-box{
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 150px;
    animation: slide 5s infinite linear;
}
