body{
    background-image: url('bgform2.jpg');
    background-size: cover;
    color: #fff;
}
h2{
    text-align: center;
    font-size: 45px;
}
.container_all{
    display: flex;
    justify-content: center;
}
img{
    width: 650px;

}
div.container-form{
    width: 650px;
    height: 432.81px;
    background-color: #333;
}
form{
    display: block;
    width: 70%;
    background-color: #333;
    margin: 0px auto;
    margin-top: 30px;
}
div.form_child input{
    width: 400px;
    height: 40px;
    display: flex;
    margin: 0px auto;
    background-color: #333;
    border: 0;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
}
div.register_box a{
    color: #fff;
    background-color: rgb(86, 86, 185);
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    display: block;
    width: 150px;
    height: 40px;
    margin: 20px auto;
}
p{
    text-align: center;
}
a{
    color: #fff;
}
ul.logo_box{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
ul.logo_box li{
    display: block;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 1px solid #fff;
    border-radius: 3px;
}
div.container-form form div.form_child input:hover::placeholder{
    color: rgb(118, 118, 197);
}
div.container-form form div.form_child input:hover{
    border-bottom: 4px solid rgb(118, 118, 197);
}
div.register_box a:hover{
    background-color: rgb(118, 118, 197);
}

ul.logo_box li:hover{
    border-radius: 15px;
    border: 2px solid rgb(118, 118, 197);
}