body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(background.png);
    background-size: cover;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
ul{
    list-style: none;
}

.logo_menu{
    width: 100%;
    /* background-color: #333; */
    /* background-image: url('background.png'); */
    display: flex;

}
.name{
    font-size: 50px;
    font-weight: bold;
    line-height: 140px;
    margin-left: 90px;

}
img{
    width: 200px;
}
.menu, .log_link{
    font-size: 20px;
    display: flex;
    margin-left: 80px;
    margin-top: 45px;
}
.menu li, .log_link li{
    padding: 15px;

}

/* ariticle */
article{
    padding: 10px;
    background-color: rgba(146, 246, 246, 0.784);
}
.box{
    margin: 0;
    padding: 0;
    width: 70%;
    height: 200px;
    background-color: rgb(149, 243, 243);
    margin-left: 440px;
}
.sub_box{
    margin: 20px
}

/* footer */
footer{
    padding-top: 10px;
    width: 100%;
    height: 125px;
    background-color: rgba(104, 104, 255, 0.788);
}
.contact_us{
    width: 300px;
    height: 70px;
    margin: 0px auto;
    margin-top: 20px;
}
.contact_us p{
    text-align: center;
}
.contact_us .contact_link{
    width: 200px;
    margin: 0px auto;
}
i{
    margin: 0px 10px;
}